node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
myApp-darwin-arm64
myApp-darwin-x64
myApp-win32-x64/chrome_100_percent.pak
myApp-win32-x64/chrome_200_percent.pak
myApp-win32-x64/d3dcompiler_47.dll
myApp-win32-x64/ffmpeg.dll
myApp-win32-x64/icudtl.dat
myApp-win32-x64/libEGL.dll
myApp-win32-x64/libGLESv2.dll
myApp-win32-x64/LICENSE
myApp-win32-x64/LICENSES.chromium.html
myApp-win32-x64/myApp.exe
myApp-win32-x64/resources.pak
myApp-win32-x64/snapshot_blob.bin
myApp-win32-x64/v8_context_snapshot.bin
myApp-win32-x64/version
myApp-win32-x64/vk_swiftshader_icd.json
myApp-win32-x64/vk_swiftshader.dll
myApp-win32-x64/vulkan-1.dll
myApp-win32-x64/locales/af.pak
myApp-win32-x64/locales/am.pak
myApp-win32-x64/locales/ar.pak
myApp-win32-x64/locales/bg.pak
myApp-win32-x64/locales/bn.pak
myApp-win32-x64/locales/ca.pak
myApp-win32-x64/locales/cs.pak
myApp-win32-x64/locales/da.pak
myApp-win32-x64/locales/de.pak
myApp-win32-x64/locales/el.pak
myApp-win32-x64/locales/en-GB.pak
myApp-win32-x64/locales/en-US.pak
myApp-win32-x64/locales/es-419.pak
myApp-win32-x64/locales/es.pak
myApp-win32-x64/locales/et.pak
myApp-win32-x64/locales/fa.pak
myApp-win32-x64/locales/fi.pak
myApp-win32-x64/locales/fil.pak
myApp-win32-x64/locales/fr.pak
myApp-win32-x64/locales/gu.pak
myApp-win32-x64/locales/he.pak
myApp-win32-x64/locales/hi.pak
myApp-win32-x64/locales/hr.pak
myApp-win32-x64/locales/hu.pak
myApp-win32-x64/locales/id.pak
myApp-win32-x64/locales/it.pak
myApp-win32-x64/locales/ja.pak
myApp-win32-x64/locales/kn.pak
myApp-win32-x64/locales/ko.pak
myApp-win32-x64/locales/lt.pak
myApp-win32-x64/locales/lv.pak
myApp-win32-x64/locales/ml.pak
myApp-win32-x64/locales/mr.pak
myApp-win32-x64/locales/ms.pak
myApp-win32-x64/locales/nb.pak
myApp-win32-x64/locales/nl.pak
myApp-win32-x64/locales/pl.pak
myApp-win32-x64/locales/pt-BR.pak
myApp-win32-x64/locales/pt-PT.pak
myApp-win32-x64/locales/ro.pak
myApp-win32-x64/locales/ru.pak
myApp-win32-x64/locales/sk.pak
myApp-win32-x64/locales/sl.pak
myApp-win32-x64/locales/sr.pak
myApp-win32-x64/locales/sv.pak
myApp-win32-x64/locales/sw.pak
myApp-win32-x64/locales/ta.pak
myApp-win32-x64/locales/te.pak
myApp-win32-x64/locales/th.pak
myApp-win32-x64/locales/tr.pak
myApp-win32-x64/locales/uk.pak
myApp-win32-x64/locales/ur.pak
myApp-win32-x64/locales/vi.pak
myApp-win32-x64/locales/zh-CN.pak
myApp-win32-x64/locales/zh-TW.pak
myApp-win32-x64/resources/app/.gitignore
myApp-win32-x64/resources/app/electron-packager.dummy.js
myApp-win32-x64/resources/app/main.js
myApp-win32-x64/resources/app/package.json
myApp-win32-x64/resources/app/README.md
myApp-win32-x64/resources/app/public/favicon.ico
myApp-win32-x64/resources/app/public/index.html
myApp-win32-x64/resources/app/public/logo192.png
myApp-win32-x64/resources/app/public/logo512.png
myApp-win32-x64/resources/app/public/manifest.json
myApp-win32-x64/resources/app/public/robots.txt
myApp-win32-x64/resources/app/src/App.css
myApp-win32-x64/resources/app/src/App.js
myApp-win32-x64/resources/app/src/App.test.js
myApp-win32-x64/resources/app/src/index.css
myApp-win32-x64/resources/app/src/index.js
myApp-win32-x64/resources/app/src/logo.svg
myApp-win32-x64/resources/app/src/reportWebVitals.js
myApp-win32-x64/resources/app/src/setupTests.js
